#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* --- header --- */
.header-title {
  font-size: 150%;
  font-weight: bold;
  margin: 0.5rem auto;
}

/* --- home component --- */
.home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home .header {
  background-color: #e5e5e5;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  background-color: #e5e5e5;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.homeRow {
  display: flex;
  flex-direction: row;
  flex: 0.8;
  justify-content: center;
  padding: 0% 5%;
}

/* --- home: tagline banner --- */
.taglineCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

}

.clinic_clipart {
  height: 95%;
}

.hometitle {
  color: #1d3557;
  font-size: 55px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 125%;
}

.homesubtitle {
  font-size: 20px;
  padding-bottom: 3%;
}

.tagline-subtitle {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(80, 80, 80);
  padding: 2% 0%;
}

ul {
  list-style-type: none;
}

.featureListItem {
  color: #184e77;
  padding: 1.5%;
  padding-left: 20%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

/* --- home: timeline --- */
.timelineCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 0%;
}

.timelineLines {
  padding: 20px 0px;
}

.line {
  display: block;
  height: 120px;
  width: 3px;
  background-color: #adb5bd;
  margin: auto;
}

.circle {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: #adb5bd;
  margin: auto;
}

.timelineWords p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #034767;
}

.wordsWithBottomMargin {
  margin-bottom: 30%;
}

/* --- home: get started --- */
.getStartedDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.getStarted {
  text-decoration: none;
  font-size: 25px;
  color: gray;
  margin: 2%;
}

.getStarted:hover {
  color: black;
}

.registration {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #d8e2dc;
}

.registrationContent {
  display: flex;
  flex-direction: column;
  height: 700px;
  background-color: #ffffffd2;
  border-radius: 3%;
  width: 700px;
  margin: auto;
  padding: 3% 0%;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.registrationForm input {
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  margin: 3.5% 25%;
  outline: none;
}


.bookTimeslotHeading {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #b3beb8;
}

.formGroup {
  display: block;
  padding: 0.5%;
}

.visitedPatient {
  display: inline-block;
  padding: 2% 0%;
}

.visitedPatient button {
  margin: 0% 2%;
  padding: 1%;
  width: 20%;
  border: none;
  border-radius: 30px;
  background-color: #d8e2dc;
}