#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* --- header --- */
.header {
  padding: 20px;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.header-title:hover {
  color: black;
  text-decoration: none;
}

/* --- home component --- */
.home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home .header {
  background-color: #e5e5e5;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  background-color: #e5e5e5;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.homeRow {
  display: flex;
  flex-direction: row;
  flex: 0.8;
  justify-content: center;
  padding: 0% 5%;
}

/* --- home: tagline banner --- */
.taglineCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

}

.hometitle {
  color: #000000;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  line-height: 125%;
}

.homesubtitle {
  font-size: 20px;
  padding-bottom: 3%;
}

.tagline-subtitle {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(80, 80, 80);
  padding: 2% 0%;
}

ul {
  list-style-type: none;
}

.featureListItem {
  color: #184e77;
  padding: 1.5%;
  padding-left: 20%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

/* --- home: timeline --- */
.timelineCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 0%;
}

.timelineLines {
  padding: 20px 0px;
}

.line {
  display: block;
  height: 28%;
  width: 3px;
  background-color: #adb5bd;
  margin: auto;
}

.circle {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: #adb5bd;
  margin: auto;
}

.timelineWords p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #034767;
}

.wordsWithBottomMargin {
  margin-bottom: 27%;
}

/* --- home: get started --- */
.getStartedDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 2%;
}

.getStarted {
  text-decoration: none;
  font-size: 20px;
  color: gray;
  margin: auto;
}

.getStarted:hover {
  color: black;
}

.registration {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #e5e5e5;
}

.registrationContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-bottom: 2%;
}

.bookingCard {
  width: 85vw;
  margin: auto;
  padding: 1% 0%;
  background-color: #ffffff;
  border-radius: 3%;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}

.registrationForm input {
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  margin: 2.5% 10%;
  outline: none;
  font-size: 1.25rem;
}

.registrationDOB {
  font-size: 1.25rem;
}

.registrationDOB input{
  margin: 2.5% 1%;
  margin-right: 0%;
  padding: 0% 23%;
}

.bookingHeading {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #184e77;
}

.formGroup {
  display: block;
  padding: 0.5%;
}

.visitedPatient {
  display: inline-block;
  padding: 1% 0%;
}

.visitedPatient p {
  font-size: 1.25rem;
}

.pillButton {
  margin: 0% 2%;
  padding: 1%;
  width: 20%;
  border: none;
  border-radius: 30px;
  background-color: #e5e5e5;
  font-size: 1.25rem;
}

.selected {
  background-color: #184e77;
  color: #ffffff;
}

.bookingNext {
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 1.5rem;
}

.bookingNext .pillButton {
  width: 25%;
  color: white;
  background-color: #fca311;
  font-weight: bold;
}

/* timeslot */
.timeslot {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.timeslot .bookingCard {
  height: auto;
}

.timeslotButtons {
  display: inline-block;
  width: 95%;
}

.timeslotButtons .pillButton {
  margin: 1% 1.5%;
  padding: 1.5%;
  width: 25%;
  font-size: 1.5rem;
  background-color: #e5e5e5;
}

.timeslotButtons .selected {
  background-color: #184e77;
  color: #ffffff;
}

.timeslotPeriod {
  padding-top: 3%;
}

.timeslotPeriod p {
  font-size: 1.5rem;
}

.bookingCard hr {
  margin: 2% 45%;
  border-top: 7px dotted black;
  background-color: white;
}

.timeslotContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 2%;
}

/* user option */
.userType {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.userTypeCard {
  background-color: white;
  border: none;
  height: 70%;
  width: 50%;
  border-radius: 30px;
  margin: auto;
  margin-top: 10%;
}

.userTypeCard p {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.userTypeRow {
  flex: 1;
  justify-content: middle;
  padding: 0% 5%;
}

.userTypePic {
  width: 70%;
}

.userTypePageTitle {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

/* Check Queue */
.checkQueue {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Confirmation */
.confirmation {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.confirmation .bookingCard {
  padding: 5% 0%;
}

.confirmationTick {
  width: 20%;
}

/* Queue Status */
.queueStatus {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.queueStatus .bookingCard {
  padding: 3%;
}

.queueStatusPic {
  height: 200px;
}

@media screen and (min-width: 1000px) {
  .bookingCard { width: 600px; }
  .registrationDOB input { padding: 0% 16%; }
  .confirmation .bookingCard { width: 500px; }
}