#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 150%;
  font-weight: bold;
  margin: 0.5rem auto;
}

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home .header {
  background-color: #ebe1db;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  background-color: #ebe1db;
  padding-bottom: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.homeRow {
  padding: 0% 5%;
}

.taglineCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tagline-title {
  color: #b08968;
  font-size: 55px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 125%;
  padding: 10% 0% 0% 5%;
}

.tagline-subtitle {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  padding: 2% 0% 2% 5%;
}

.clinic_img {
  width: 100%;
  height: auto;
  padding: 5% 0%;
}

.homeButton {
  margin: 1rem 0.5rem;
}

ul {
  list-style-type: none;
}

.featureListItem {
  color: #97827d;
  padding: 1.5% 10%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.getStartedDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.getStarted {
  text-decoration: none;
  font-size: 25px;
  color: gray;
  margin: 2%;
}

.getStarted:hover {
  color: black;
}

.timeline {
  padding: 5%;
  background-color: #ccdbdc;
}

.line {
  display: inline-block;
  height: 500px;
  width: 5px;
  background-color: #034767;
}